# created by virtualenv automatically
Lib
Scripts
pyvenv.cfg
venv
.idea
shell_scripts
win_bot_start.bat
log.txt
egor_bot.db
test
.env
.env*
/.env
/Deploy/db_dump/
/Deploy/ssl/
/tmp/tmp.jpg
.env*
/.env_test

*output_1
/acces_reader/output_1/
*/__pycache__/*
/data
/certbot/

init_letincrypt.sh
/init_letincrypt.sh
